{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  {% include "includes/navigation.html" %}
  <div class="container mt-4 main-content" style="padding-top: 100px;">
    <h1>Login</h1>
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Login" class="btn btn-primary"/>
      <input type="hidden" name="next" value="{{ next }}"/>
    </form>
  </div>
{% endblock %}
