{% extends "base.html" %}
{% block content %}
  {% include "includes/navigation.html" %}
  <div class="container mt-4 main-content" style="padding-top: 100px;">
    <h3 class="mb-4">
      Cook: {{ cook.first_name }} {{ cook.last_name }}
      {% if user.is_staff %}
        <div class="float-end">
          <a href="" class="btn btn-danger link-to-page me-2">
            Delete
          </a>
          <a href="" class="btn btn-secondary link-to-page">
            Update
          </a>
        </div>
      {% endif %}
    </h3>
    <p>{{ cook.social|default:"" }}</p>
    <p>Experience: <strong>{{ cook.years_of_experience }}</strong> years</p>
    <h5 class="mt-4">Prepares such dishes:</h5>
    {% if cook.dishes.all %}
      <ul class="list-group mt-2">
        {% for dish in cook.dishes.all %}
          <li class="list-group-item">
            <a href="{{ dish.get_absolute_url }}">☑ {{ dish.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-warning mt-2">
        Doesn't cook any dishes.
      </div>
    {% endif %}
  </div>
{% endblock content %}
