{% extends "base.html" %}

{% block content %}
  <h3>Type dishes: <strong>{{ dish_type.name }}</strong></h3>
    <a href="{% url 'management:dish-type-delete' pk=dish_type.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'management:dish-type-update' pk=dish_type.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>

  {% for dish in dish_type.dishes.all  %}
    <hr>
    <a href="{{ dish.get_absolute_url }}">
    <p>{{ dish.name }}</p></a>
  {% empty %}
    <p>No Dishes.</p>
  {% endfor %}



{% endblock content %}

