{% extends "base.html" %}

{% block content %}
  <h1>Dishes:<a href="{% url "management:cook-create" %}" class="btn btn-primary link-to-page">
          Create
      </a> </h1>
  
  {% for dish in dish_list %}
    <li>
      <a href="{{ dish.get_absolute_url }}">{{ dish.name }}</a>
    </li>

    <ul>Cooks:
      {% for cook in dish.cooks.all %}
        <ul>
        <a href="{{ cook.get_absolute_url }}">
          {{ cook.first_name }} {{ cook.last_name }}
        </a>
        </ul>
      {% endfor %}
    </ul>
    
  {% empty %}
    <p>There no dishes in Kitchen </p>
  {% endfor %}

{% endblock content %}
