{% block sidebar %}
  <ul class="sidebar-nav list-group">
    {% if user.is_authenticated %}
      <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
      <li class="list-group-item"><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
    {% else %}
      <li class="list-group-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
    {% endif %}
    <hr>
    <li class="list-group-item">
      <a href="{% url 'management:index' %}">Home</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'management:dish-type-list' %}">Type dishes</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'management:dish-list' %}">Dishes</a>
    </li>
    {% if user.is_staff %}
      <li class="list-group-item">
        <a href="{% url 'management:cook-list' %}">Cooks</a>
      </li>
    {% endif %}
  </ul>
{% endblock sidebar %}
